body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  padding: 30px;
}

.container {
  max-width: 500px;
  margin: auto;
  background: white;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 0 10px lightgray;
}

h1 {
  text-align: center;
  color: #444;
}

input {
  width: 70%;
  padding: 10px;
  margin-top: 10px;
}

button {
  padding: 10px;
  margin-top: 10px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background-color: #e0f7fa;
  padding: 10px;
  margin-top: 8px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.done {
  text-decoration: line-through;
  color: gray;
}
